body {
    background-color: #0533ff;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    color:#ff3705;
    text-align:center;
    width: 75%;
    margin: 0 auto;
    background-color:white;
    border-radius: 10px;
}
img {
    width: 30%;
    position:relative;
    left: 35%;
    border-radius: 10px;
}
fieldset {
    border:0;
}
.js-question-box {
    border: 2px solid white;
    border-radius: 10px;
}
button {
        text-align: center;
        display: inline-block;
        padding: 10px 20px;
        border-radius: 10px;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
}
button:hover {
    background-color:#ff3705;
  }

.next span {
    transition: 0.5s;
  }

.next span:after {
    content: '\00bb';
    opacity: 0;
    transition: 0.5s;
  }
  
.next:hover span:after {
    opacity: 1;
  }


legend {
    font-size: 20px;
    padding: 10px 0; 
}
.js-answers {
    padding-top:30px;
    margin-bottom:10px;
    font-size:18px;
}
fieldset input {
    margin-top: 10px;
}

h2 span, h3 span {
    padding: 5px;
    color: black;
    font-size:24px;
}

strong {
    color: #fb9902;
    font-size:24px;
}



.header-container h3 {
    background-color: #ff3705;
    border-radius: 10px;
    padding: 5px;
}

.header-container {
    display:flex;
    justify-content:space-between;
}

.intro-text {
    font-size: 24px;

}
/* For mobile and tablet*/
@media only screen and (max-width: 768px) {
   img{ width: 50%;
    position:relative;
    left: 25%;
    border-radius: 10px;
}
}
/*For desktops*/
@media only screen and (min-width: 768px) {
    .header-container {
        display:flex;
        justify-content:space-around;
    }
    .js-question-box {
        width: 75%;
        margin: 0 auto;
    }
}